@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}


header{
    /* background-color: greenyellow; */
    border-bottom: 1px solid rgb(223, 220, 220);
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
}
.header1{
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.header1 h4{
    font-size: 1rem;
    color: rgb(100, 98, 98);
    font-weight: 500;
    margin-left: 5rem;
}
.header1 i{
    font-size: 1rem;
    margin-right: 5rem;
    display: inline-block;
    padding-top: 2px;
}
.header1 i span{
    color: rgb(238, 20, 20);
    padding-left: 1.5rem;
}
.header2{
    display: flex;
    justify-content: center;
    margin-bottom: -5px;
    cursor: pointer;
}
.header2__logo{
    flex-basis: 13%;
}
.header2__logo img{
    width: 100%;
}
.header2__nav{
    flex-basis: 65%;
    padding-right: 24px;
}   
.header2__nav .header__nav--ul{
    display: flex;
    justify-content: space-around;
    padding-top: 53px;
    list-style: none;
}
.header2__nav .header__nav--ul .header__nav--ul__li{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
}
.header__nav--ul .list{
    position: relative;
    transition: 0.5s ease;
}
.header__nav--ul .list:hover  .list__menu{
    opacity: 1;
    visibility: visible;
    transition: 0.15s ease;
}

.header__nav--ul .list .list__menu{
    position: absolute;
    top: 97%;
    left: -12%;
    display: flex;
    flex-direction: column;
    width: 240%;
    white-space: nowrap;
    padding-top: -52px;
    background-color: #fff;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    opacity: 0; 
    visibility: hidden;
}
.header__nav--ul .list .list__menu .list__menu--item{
    padding: 10px 15px;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 2px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(49, 48, 48);
    list-style: none;
}
.header__nav--ul .list .list__menu .list__menu--item:last-child{
    border-bottom: 0;
}
.header__nav--ul .list .list__menu .list__menu--item:hover{
    color: #f56200;
   
}   
.header2__nav ul li:hover{
    color: #f56200;
}
.list__menu .more__menu{
    position: relative;
} 
.list__menu .more__menu:hover .more__menu--sub{
    opacity: 1;
    visibility: visible;
}
.list__menu .more__menu .more__menu--sub{
    position: absolute;
    right: -163px;
    top: -1px;
    width: 80%;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: 0.1s linear ;
    background-color: #fff;
}
 .more__menu .more__menu--sub .more__menu--item{
    list-style: none;
    color: rgb(48, 47, 47);
    font-size: 1.2rem;
    padding: 10px 17px;
    border-bottom: 1px solid #cfcfcf;
    text-transform: capitalize;
}
 .more__menu .more__menu--sub .more__menu--item:last-child{
    border-bottom: 0;
}
 .more__menu .more__menu--sub .more__menu--item:hover{
    color: #f56200;
}

.list__menu .more1__menu{
    position: relative;
}
.list__menu .more1__menu:hover .more1__menu--sub{
    opacity: 1;
    visibility: visible;
}
.more1__menu .more1__menu--sub{
    position: absolute;
    right: -163px;
    top: -39px;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 80%;
    opacity: 0;
    visibility: hidden; 
    transition: 0.1s linear;
    background-color: #fff;
}
.more1__menu .more1__menu--sub .more1__menu--item{
    list-style: none;
    padding: 10px 17px;
    border-bottom: 1px solid #cfcfcf;
    color: rgb(48, 47, 47);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.more1__menu .more1__menu--sub .more1__menu--item:last-child{
    border-bottom: 0;
}
.more1__menu .more1__menu--sub .more1__menu--item:hover{
    color: #f56200; 
}
.list__menu .more2__menu{
    position: relative;
}
.list__menu .more2__menu:hover .more2__menu--sub{
    opacity: 1;
    visibility: visible;
}
.more2__menu .more2__menu--sub{
    position: absolute;
    right: -123px;
    top: -77px;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    width: 60%;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s linear;
    background-color: #fff;
}
.more2__menu .more2__menu--sub .more2__menu--item{
    list-style: none;
    padding: 10px 17px;
    border-bottom: 1px solid #cfcfcf;
    color: rgb(48, 47, 47);
    font-size: 1.2rem;
    text-transform: capitalize;
}
.more2__menu .more2__menu--sub .more2__menu--item:hover{
    color: #f56200; 
}
.more2__menu .more2__menu--sub .more2__menu--item:last-child{
    border-bottom: 0;
}

.header2__nav ul li i{
    padding-left: 0.5rem;
}
.header__nav--ul .list2{
    position: relative;
}
.header__nav--ul .list2:hover .list2__menu{
    visibility: visible;
    opacity: 1;
}
.header__nav--ul .list2 .list2__menu{
    position: absolute;
    top:100%;
    left: -10px;
    width: 280%;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
}
.header__nav--ul .list2 .list2__menu .list2__item{
    list-style: none;
    padding: 10px 17px;
    color: rgb(48, 47, 47);
    font-size: 1.3rem;
    text-transform: capitalize;
    border-bottom: 1px solid #cfcfcf;
    font-weight: 500;
}
.header__nav--ul .list2 .list2__menu .list2__item:last-child{
    border-bottom: 0;
}
.header__nav--ul .list2 .list2__menu .list2__item:hover{
    color: #f56200; 
}



.header__nav--ul .list3{
    position: relative;
}
.header__nav--ul .list3:hover .list3__menu{
    visibility: visible;
    opacity: 1;
}
.header__nav--ul .list3 .list3__menu{
    position: absolute;
    top:100%;
    left: -10px;
    width: 139%;
    border: 1px solid #cfcfcf;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
}
.header__nav--ul .list3 .list3__menu .list3__item{
    list-style: none;
    padding: 10px 17px;
    color: rgb(48, 47, 47);
    font-size: 1.3rem;
    text-transform: capitalize;
    border-bottom: 1px solid #cfcfcf;
    font-weight: 500;
    list-style: none;
}
.header__nav--ul .list3 .list3__menu .list3__item:last-child{
    border-bottom: 0;
}
.header__nav--ul .list3 .list3__menu .list3__item:hover{
    color: #f56200; 
}


.header2__search{
    flex-basis: 4%;
    padding-top: 48px;
    font-size: 2rem;
    text-align: center; 
    display: inline-block;
}
.header2__account{
    flex-basis: 4%;
    padding-top: 48px;
    font-size: 2rem;
    text-align: center;
}
.header__cart{
    flex-basis: 4%;
    padding-top: 48px;
    font-size: 2rem;
    text-align: center;
}
.account{
    width: 500px;
    height: 420px;
    margin: 260px auto 0 auto;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 20%);
    padding: 20px 15px 30px;
    border-radius: 2px;
}

.account h1{
    font-size: 22px;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    color: rgba(0,0,0,0.75);
}
.connect{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.connect__gg{
    display: flex;
    justify-content: space-around;
    border: 1px solid gainsboro;
    border-radius: 2px;
    padding: 15px 31px;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.connect__gg i{
    /* padding: 0 25px; */
    padding: 2px 25px 0 0;
    color: red;
    font-size: 20px;
}
.connect__gg span{
    padding: 0 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0,0,0,0.75);
}

.connect__face{
    display: flex;
    justify-content: space-around;
    border: 1px solid gainsboro;
    border-radius: 2px;
    padding: 15px 31px;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.connect__face i{
    /* padding: 0 25px; */
     padding: 2px 25px 0 0;
    color: blue;
    font-size: 20px;
}
.connect__face span{
    padding: 0 25px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(0,0,0,0.75);
}
.account h2{
    text-align: center;
    font-weight: 600;
    color: rgba(0,0,0,0.75);
    font-size: 14px;
    margin-top: 5px;
    text-transform: uppercase;
}

input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    letter-spacing: 0.6px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);

}
input[type="submit"]{
    text-transform: uppercase;
    background: black;
    color: #fff;
    cursor: pointer;
}
.account h4{
    padding: 15px;
    width: 100%;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    color: gray;
    font-style: italic;
    cursor: pointer;
}
.account h4:hover{
    color: #cfcfcf;
}
.account h5{
    padding: 15px;
    width: 100%;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    color: gray;
    cursor: pointer;
}
.account h5:hover{
    color: #cfcfcf;
}








